html, body 
{
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
	min-height: 100%;
	position: relative;
    background-color: #0399D4;
}

/* Div top */
.top {
  margin: 0 auto;
  background-color: #0399D4;
}

.top_container{
    overflow: hidden;
    width: 90%; 
    max-width: 1152px;
    margin: 0 auto;   
}

/* Div logo */
.logo {
    margin: 10px;
	height:150px;	
}

.logo_div{
    margin: 0 auto;
    float: left;
    
}

.top:after {
  content: "";
  display: table;
  clear: both;
  margin: 1em;
}

.navbar
{
	border:0px;
    border-radius: 0px;
    color: #0399D4;    
  	background-color: white;
    width: 90%; 
    max-width: 1152px;
    margin: 0 auto;
    top: 28px;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
    border-top-style:solid;
      text-transform: uppercase;
      border-color: white;
      color: #0399D4;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color:#0399D4;
    color: #353B70;
}

.navbar-default .navbar-nav>.open>a {
    background: #0399D4 !important;
  color: #353B70 !important;  
}

.nav li:hover > a
{
  background: #0399D4;
  color: #353B70;
}

.nav li > a{
    font-weight: bold;
    color: #0399D4;
    text-transform: uppercase;
}

.dropdown-menu:before {
    content: " ";
    display: block;
    position: absolute;
    height: 25px;
    top: -25px;
    left: 0;
    right: 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
   
.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 30px;
    top: 11px;
    left: -6px;
}

.bottom {
  padding-bottom: 0px;
  margin: 0 auto;
  width: 100%;
  background-color: #0399D4;
}

.bottom:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}

.conteudo{
    width: 90%;
    max-width: 1152px;
    min-height: 400px;
    background-color: white;
    margin: 0 auto;  
    box-shadow: 0px 0px 10px #666666;  
}

.conteudo:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}

.footer { 
    
    margin: 0 auto;
	height: 80px;
    background-color: #0399D4;
}

.footer_container{
    overflow: hidden;
    width: 90%; 
    max-width: 1152px;
    margin: 0 auto;   
}

#instituto_nome{
    width: 50%;
    float: left;
    color: white;
}

#instituto_contato{
    width: 50%;
    float: left;  
    text-align:right;
    font-weight:bold;
    color:white;  
}

.fs_26{
    font-size: 26px;
}

.fs_22{
    font-size: 22px;
}

#phonemail{
    font-size: 1.5em;   
}




@media screen and (max-width: 768px) {
    .conteudo, .navbar{
        width: 100%;
    }
    
    .contato{
        padding-right: 10px;
    }	
}
